fastapi
uvicorn[standard]

supabase

pydantic

pydantic-settings

python-dotenv

python-multipart

email-validator

python-jose[cryptography]

passlib[bcrypt]

httpx

aiofiles

loguru

python-magic

pytest

pytest-asyncio 